---
import Base from "../../layouts/Base.astro";
import Card from "../../components/card/Card_invite.astro";

import Arrow from "../../assets/svg/arrow_black.svg";

const { id } = Astro.params;
import { getFilmsById, getInviteById } from "../../../backend/backend.mjs";
const film = await getFilmsById(id);
const invite = await getInviteById(film.invite);
---

<Base Titre="Film">
    <section class="flex flex-col py-12 gap-16 lg:grid lg:grid-cols-2 lg:px-32">
        <div class="flex flex-col items-center justify-center gap-5 lg:col-start-1 lg:col-end-3 lg:flex-row">
            <h2>{film.titre}</h2>
            <img
                src={film.img}
                alt=`Affiche du film ${film.titre}`
                class="w-full lg:w-1/2 lg:rounded-lg"
            />
        </div>
        <div class="flex flex-col items-center justify-between gap-5">
            <h2>Info</h2>
            <ul class="flex flex-col gap-y-3 w-2/3 lg:w-full">
                <li class="flex justify-between w-full">
                    Durée : <span class="font-bold text-[1.1rem]"
                        >{film.dure}</span>
                </li>
                <li class="flex justify-between w-full">
                    Date de sortie : <span class="font-bold text-[1.1rem]"
                        >{film.date}</span>
                </li>
                <li class="flex justify-between w-full">
                    Langue : <span class="font-bold text-[1.1rem]"
                        >{film.vo}</span>
                </li>
            </ul>
            <a href={film.wikipedia} class="button-link w-2/3 lg:w-full">
                Page Wikipédia
                <Arrow />
            </a>
        </div>
        <div class="flex flex-col items-center gap-5 px-5">
            <h2>Bande-Annonce</h2>
            <iframe
                width="560"
                height="315"
                src={film.bande_annonce_embed}
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                class="rounded-lg w-full lg:h-full lg:w-full"></iframe>
        </div>
        <div class="flex flex-col items-center gap-5">
            <h2>Qui sera présent</h2>
            <Card {...invite} />
        </div>
        <div class="flex flex-col items-center px-5 gap-5">
            <h2>Synopsis</h2>
            <p>{film.synopsis}</p>
            <a href={film.wikipedia} class="button-link">
                Lire plus
                <Arrow />
            </a>
        </div>
    </section>
</Base>
