---
const {...film} = Astro.props;
---

<a href=`/films/${film.id}` class="flex flex-col gap-2 w-1/4 lg:w-1/4 border-2 border-black rounded-xl p-2">
    <img src={film.img} alt={film.titre} class="rounded-md">
    <p>Le {film.jour} à {film.heure}</p>
</a>